HOST=0.0.0.0
PORT=1337

APP_KEYS=tobemodified
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
JWT_SECRET=tobemodified

NODE_ENV=development
STRAPI_PLUGIN_I18N_INIT_LOCALE_CODE=ru

DATABASE_CLIENT=mysql
DATABASE_HOST=strapiDB
DATABASE_NAME=strapi
DATABASE_USERNAME=strapi
DATABASE_PORT=3306
DATABASE_PASSWORD=strapi

MYSQL_USER=strapi
MYSQL_ROOT_PASSWORD=strapi
MYSQL_PASSWORD=strapi
MYSQL_DATABASE=strapi

AWS_ACCESS_KEY_ID=tobemodified
AWS_ACCESS_SECRET=tobemodified
AWS_REGION=ru-central1
AWS_BUCKET=tobemodified
